body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('ufo.jpg');
  min-height:100%;
}


.section{
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#342e52;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:70%;
  width:100%;
  text-align:center;
	font-family: "futura",sans-serif;
  text-transform:uppercase;
	color: #fff;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 8px;
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}


nav
{
  background: transparent;
  height: 50px;
}
#banner
{
  background: transparent;
  height: 800px;
}
nav ul
{
  list-style: none;
  margin: 0;
}
nav ul li
{
  display: inline-block;
  line-height: 50px;
  float: right;
  margin-right: 20px;
}
nav ul li a
{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  background: none;
  color: #fff;
  font-size: 15px;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "futura",sans-serif;
}

nav ul li.logo
{
  float: left;
}

#banner .inner
{
  max-width: -webkit-fill-available;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 550px;
}
#banner .inner h1
{
  margin: 0;
  font-family: "futura",sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 8px;
}

.MapSection
{
  background: #342e52;
  color: #fff;
  text-align: center;
  padding: 80px 0;

}



#map {
   stroke-width: 1px;
   stroke: #fff;
   fill: #0b073b;
}

.axis path,
        .axis line {
            fill: none;
            stroke: #F2E8DE;
            shape-rendering: crispEdges;
        }
        .line {
            fill: none;
            stroke: #FCAD62;
            stroke-width: 5px;
        }
        text{
            fill:#999;
        }
        .inner_line line {
            fill: none;
            stroke:#E7E7E7;
            shape-rendering: crispEdges;
        }
        .MyCircle {
            fill: #FCAD62;
        }

circle {
   fill: #FF8533;
   stroke-width: 0px;
}

.toolTip {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        position: absolute;
        display: none;
        width: auto;
        height: auto;
        background: none repeat scroll 0 0 white;
        border: 0 none;
        border-radius: 8px 8px 8px 8px;
        box-shadow: -3px 3px 15px #888888;
        color: black;
        font: 12px sans-serif;
        padding: 5px;
        text-align: center;
}

.bar { fill: #FCAD62; }
