body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
nav
{
  background: transparent;
  height: 50px;
}
#banner
{
  background: transparent;
  height: 800px;
}

#banner .inner
{
  max-width: -webkit-fill-available;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 550px;
}
#banner .inner h1
{
  margin: 0;
  font-family: "futura",sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 8px;
}

.MapSection
{
  background: #fff;
  color: #666;
  text-align: center;
  padding: 80px 0;
  height:1500px;
}

.wrapper
{
  max-width: 600px;
  margin: 0 auto;
  font-family: "Georgia",serif;
  font-size: 1.6rem;
  line-height: 3rem;
	text-align: left;
}

.MainWrapper
{
  background: #444 url(../images/impic.JPG);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

#map {
   stroke-width: 1.8px;
   stroke: #CFCFCF;
   fill: #F0F0F0;
}

.axis path,
        .axis line {
            fill: none;
            stroke: #F2E8DE;
            shape-rendering: crispEdges;
        }
        .line {
            fill: none;
            stroke: #FCAD62;
            stroke-width: 5px;
        }
        text{
            fill:#999;
        }
        .inner_line line {
            fill: none;
            stroke:#E7E7E7;
            shape-rendering: crispEdges;
        }
        .MyCircle {
            fill: #FCAD62;
        }

circle {
   fill: #FF8533;
   stroke-width: 0px;
}
